h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 861px;}
#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 861px;}
#imCell_2 { display: block; position: relative; overflow: hidden; width: 572px; min-height: 1926px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid transparent; border-right: 5px solid transparent;}
#imCellStyle_2 { position: relative; width: 532px; min-height: 1886px; padding: 20px 20px 20px 20px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 55px; bottom: 55px; left: 72px; right: 72px; background: transparent url('../images/14.png') repeat center center;}
#imCellStyleGraphicsB_2 { position: absolute; bottom: 0; left: 72px; right: 72px; height: 55px; background: transparent url('../images/14_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_2 { position: absolute; bottom: 0; left: 0; width: 72px; height: 55px; background: transparent url('../images/14_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_2 { position: absolute; bottom: 0; right: 0; width: 72px; height: 55px; background: transparent url('../images/14_br.png') repeat right bottom;}
#imCellStyleGraphicsL_2 { position: absolute; top: 55px; bottom: 55px; left: 0; width: 72px; background: transparent url('../images/14_l.png') repeat-y left center;}
#imCellStyleGraphicsR_2 { position: absolute; top: 55px; bottom: 55px; right: 0; width: 72px; background: transparent url('../images/14_r.png') repeat-y right center;}
#imCellStyleGraphicsT_2 { position: absolute; top: 0; left: 72px; right: 72px; height: 55px; background: transparent url('../images/14_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_2 { position: absolute; top: 0; left: 0; width: 72px; height: 55px; background: transparent url('../images/14_tl.png') repeat left top;}
#imCellStyleGraphicsTR_2 { position: absolute; top: 0; right: 0; width: 72px; height: 55px; background: transparent url('../images/14_tr.png') repeat right top;}
#imTextObject_2 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2 a { color: inherit; }
#imTextObject_2 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2 p { margin: 0; padding: 0; }
#imTextObject_2 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2 .imUl { text-decoration: underline; }
#imTextObject_2 .ff0 { font-family: "Tahoma"; }
#imTextObject_2 .ff1 { font-family: "Times New Roman"; }
#imTextObject_2 .ff2 { font-family: "Times New Roman"; }
#imTextObject_2 .cf1 { color: #000000; }
#imTextObject_2 .cf2 { color: #FFFFFF; }
#imTextObject_2 .cf3 { color: #000000; }
#imTextObject_2 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_2 .cb1 { background-color: #000000; }
#imTextObject_2 .cb2 { background-color: transparent; }
#imTextObject_2 .cb3 { background-color: #000000; }
